.nps-container {

    display:flex;
    flex-direction: column;
    margin-right: 30px;
    margin-left: 30px;
}

.nps-title {
    text-align: left;
    margin-right: 5%;
    margin-left: 8%;
}

.nps-options-list {
    margin-right: 5%;
    margin-left: 5%;
}

.option {
    margin-right: 3px;
    margin-left: 3px;
}

.option-active {
    background: darkgrey;
}

.options-list-footer {
    font-size: .8em;
    color: grey;
    margin-right: 3%;
    margin-left: 3%;
}
.nps-question-footer {

}